body {
    background-color: hsl(30, 38%, 92%);
    align-self: center;
    width: 1440px
  }

.container {
    background-color: white;
    border-radius: 8px;
    border-radius: 8px;
    height: 450px;
    position: relative;
    margin: 100px auto;
    width: 606px;
}

.Product-image {
    border-radius: 8px;
    width: 303px;
    height: 450px;
}

h1 {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 0.35rem;
    position: absolute;
    top: 30px;
    left: 330px;
}

h2 {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    ;
    font-weight: 700;
    display: inline-block;
    position: absolute;
    top: 69.62px;
    left: 330px;
    line-height: 1;
}

h3 {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    position: absolute;
    top: 290px;
    left: 330px;
    font-weight: 500;
    display: inline-block;
}

.p-1 {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5;
    position: absolute;
    top: 193px;
    left: 330px;
}

.p-2 {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 14px;
    position: absolute;
    text-decoration: line-through;
    top: 316px;
    left: 465px;
}

.cart {
    display: inline-block;
    position: relative;
}

.cart-icon {
    position: absolute;
    left: 395px;
    bottom: 42px;
}

.btn {
    background: hsl(228, 12%, 48%);
    background-image: -webkit-linear-gradient(top, #3D8168, #4A8D74);
    background-image: -moz-linear-gradient(top, #3D8168, #4A8D74);
    background-image: -ms-linear-gradient(top, #3D8168, #4A8D74);
    background-image: -o-linear-gradient(top, #3D8168, #4A8D74);
    background-image: linear-gradient(to bottom, #3D8168, #4A8D74);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: absolute;
    left: 330px;
    bottom: 30px;
    margin-top: 20px;
    text-indent: 75px;
    width: 197px;
    height: 18px;
}


.btn:hover {
    background: #1A4031;
    background-image: -webkit-linear-gradient(top, #1A4031, #2A624D);
    background-image: -moz-linear-gradient(top, #1A4031, #2A624D);
    background-image: -ms-linear-gradient(top, #1A4031, #2A624D);
    background-image: -o-linear-gradient(top, #1A4031, #2A624D);
    background-image: linear-gradient(to bottom, #1A4031, #2A624D);
    text-decoration: none;
}

.attribution {
    font-size: 21px;
    text-align: center;
  }